fastapi==0.110.0
httpcore==1.0.5
httpx==0.27.0 
openai==1.33.0
speechrecognition==3.10.4
deep-translator==1.11.4
pydub==0.25.1
langdetect==1.0.9
langcodes==3.4.0
langdetect==1.0.9
python-multipart==0.0.9
uvicorn==0.27.1
korean_romanizer==0.25.1
